

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


html { 
	background: rgb(255,47,0);
	background: -moz-linear-gradient(0deg, rgba(255,47,0,1) 0%, rgba(4,20,168,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(255,47,0,1) 0%, rgba(4,20,168,1) 100%);
	background: linear-gradient(0deg, rgba(255,47,0,1) 0%, rgba(4,20,168,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff2f00",endColorstr="#0414a8",GradientType=1);
	scroll-behavior: smooth;

}

body {
	overflow-x: hidden;
}

/*marquee*/


h2 a {
	text-decoration: none;
	color: rgba(255,255,255,.5);
}

h2 a:hover {
	color: rgba(255,47,0,1);
}

.marquee {
	position: relative;
	width: 100vw;
	max-width: 100%;
	height: 4em;
	overflow-x: hidden;
}

.track {
	position: absolute;
	white-space: nowrap;
	will-change: transform;
	animation: marquee 32s linear infinite;

}

.top {
	padding-top: 10px;
}

.bottom {
	position: absolute;
	bottom: 20px;
	left: 0;
}

@keyframes marquee {
	from { transform: translateX(0); }
	to { transform: translateX(-50%); }
}

.marquee:hover div {
	animation-play-state: paused;
}


/*type*/

h1 { 
	font-family: 'Alike Angular', serif;
	font-weight: 500;
	font-size: 10vw;
	text-align: center;
	color: transparent;
	-webkit-text-stroke: white;
	-webkit-text-stroke-width: .01em;
}

h2 { 
	font-family: 'Alike Angular', serif;
	font-size: 2.5vw;
	line-height: 1.15em;
	font-weight: 500;
	text-align: left;
	color: #ffffff;
}


h3 {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 16px;
	font-weight: 500;
	text-align: left;
	line-height: 1.5em;
	color: rgba(255,255,255,.5);
	text-transform: uppercase;
	letter-spacing: .05em;
}

h3 a {
	color: rgba(255,255,255,.5);
}

p {
	font-family: 'Alike Angular', serif;
	font-size: 20px;
	line-height: 1.5em;
	font-weight: 500;
	text-align: left;
	color: #ffffff;
}

.top-padding-small {
	padding-top: 24px;
}

.top-padding-large {
	padding-top: 80px;
}

.bottom-padding-large {
	padding-bottom: 80px;
}

.top-padding-xlarge {
	padding-top: 120px;
}

.chart-copy {
	padding-top: 80px;
}

.full-height-wrapper {
	height: 100vh;
	z-index: 100;
}

.headline {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}


.body-wrapper {
	z-index: 1000;
}

.chart {
	width: 100%;
	height: auto;
	display: block;
}

#labels-1 {
	vertical-align: top;
	margin-top: -100%;
}

#labels-2 {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#labels-2-m {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#labels-3 {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#labels-4 {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#labels-4-m {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#labels-5 {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#labels-6 {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#labels-6-m {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#labels-7 {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#labels-8 {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#labels-8-m {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#labels-9 {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#labels-10 {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#labels-10-m {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#labels-11 {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#labels-12 {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#labels-12-m {
	vertical-align: top;
	position: relative;
	margin-top: -100%;
}

#trigger-1 {
	display: block;
}

#trigger-2 {
	display: block;
}

#trigger-3 {
	display: block;
}

#trigger-4 {
	display: block;
}

#trigger-5 {
	display: block;
}

#trigger-6 {
	display: block;
}

#trigger-7 {
	display: block;
}

#trigger-8 {
	display: block;
}

#trigger-9 {
	display: block;
}

#trigger-10 {
	display: block;
}

#trigger-11 {
	display: block;
}

#trigger-12 {
	display: block;
}

.arrow {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}




.desktop-img {
	display: block !important;
}

.mobile-img {
	display: none !important;
}


.about {
	margin-top: 80px;
	background-color: #C1C1C1;
}





